[Unit]
Description=Backup with restic to SFTP service
Documentation=man:restic(1)
Documentation=https://restic.readthedocs.io/en/stable/
# If the backup fails, retry every 5 minutes for 4 tries (20 minutes) beforre
# entering Failed state and sending a notification email
StartLimitIntervalSec=1260
StartLimitBurst=4
OnFailure=status-email-user@%n.service
Requires=local-fs.target
Requires=nm-unmetered-connection.service

[Service]
Type=oneshot
Nice=10
# $HOME or $XDG_CACHE_HOME must be set for restic to find /root/.cache/restic/
Environment="RESTIC_CACHE_DIR=/var/cache/restic"
Environment="HOME=/root"
ExecStart=/usr/local/sbin/restic_backup.sh
#ExecStartPost=/usr/local/sbin/restic-exporter.sh
Restart=on-failure
RestartSec=300


# Security hardening (see man 5 systemd.exec)
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectControlGroups=true
PrivateDevices=true
MemoryDenyWriteExecute=true
# add  /var/lib/node-exporter  if you use the prometheus exporter
ReadWritePaths=/var/cache/restic
